ul{
	list-style: none;
}
/*差评页*/
.rate-item {
	border-bottom: 1px solid #ddd;
	padding: 20px 12px;
}
.rate-auction {
	padding-top: 2px;
	float: left;
	width: 200px;
	word-break: break-all;
	white-space: normal;
	margin-right: 45px;
}
.price em {
	color: #f60;
	maring: 0 2px;
	font-family: Tahoma,Helvetica,Arial;
}
.rate-type {
	float: left;
	width: 50px;
	min-height: 10px;
	_height: 10px;
	margin-right: 5px;
	text-align: center;
}
.rate-icon {
	background: url(http://img08.taobaocdn.com/tps/i8/T1ZQ0GXiJFXXXXXXXX-676-800.png) no-repeat scroll 1000px 1000px;
}
.rate-bad {
	vertical-align: middle;
	display: inline-block;
	width: 18px;
	height: 17px;
}
.rate-bad {
	background-position: -295px -105px;
}
.rate-userinfo {
	float: right;
	width: 160px;
	text-align: right;
}

#sg-badComments, #sg-allBadComments {
	display: none;
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 800px;
	height: 800px;
	border: 1px solid #eee;
	background-color: #fff;
	z-index: 100000000!important;
}

.sg-comments-header.hide {
	display: none;
}
.hide{
	display: none;
}

.sg-nav-tabs>li{
	line-height: 2em;
	text-align: center;
	background-color: #7aace7;
	font-size: 1.5em;
	color: #fff;
	display: inline-block;
	width: 50%;
	position: relative;
}
.sg-active:before{
    content:"";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent transparent #f5f8fc transparent;
    border-width: .5em;
    border-style: solid;
    top:1em;
    left:48%;
    z-index: 100;
}
.sg-link{
	color:#5e9ce9;
}
.sg-note .sg-rate{
	color:#5e9ce9;
}
.sg-note .tb-r-sku{
	display: none;
}
.sg-warn .sg-rate{
	color:#f22003;
}
.sg-warn .tb-r-sku{
	display: inline;
}
.sg-nav-content{
	background-color: #f5f8fc;
}
.sg-nav-content p>span{

}
.tb-r-date, .tb-r-sku{
	color: #aaa;
}
.sg-evaluate>span{
	margin-right: 1.5em;
}
.sg-evaluate .sg-link{
	cursor: pointer;
}
.sg-comments-hide{
	float: right;
	cursor: pointer;
}
.sg-serious-warn{
	margin-left: .5em;
	color: #fff;
	background-color: #f24e32;
	padding: .2em;
	border-radius: .3em;
	position: relative;
}
.sg-serious-warn:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent #f24e32 transparent transparent;
	border-width: 0.4em;
	border-style: solid;
	top: .5em;
	left: -.7em;
}