ul{
	list-style: none;
}
/*差评页*/
.rate-item {
	border-bottom: 1px solid #ddd;
	padding: 20px 12px;
}
.rate-auction {
	padding-top: 2px;
	float: left;
	width: 200px;
	word-break: break-all;
	white-space: normal;
	margin-right: 45px;
}
.price em {
	color: #f60;
	maring: 0 2px;
	font-family: Tahoma,Helvetica,Arial;
}
.rate-item{
	overflow: hidden;
}
.rate-content {
	float: left;
	width: 300px;
	position: relative;
}
.rate-type {
	float: left;
	width: 50px;
	min-height: 10px;
	margin-right: 5px;
	text-align: center;
}
.rate-icon {
	background: url(http://img08.taobaocdn.com/tps/i8/T1ZQ0GXiJFXXXXXXXX-676-800.png) no-repeat scroll 1000px 1000px;
}
.rate-bad {
	vertical-align: middle;
	display: inline-block;
	width: 18px;
	height: 17px;
}
.rate-bad {
	background-position: -295px -105px;
}
.rate-userinfo {
	float: right;
	width: 160px;
	text-align: right;
}

#sg-badComments, #sg-allBadComments {
	display: none;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 840px;
	height: 500px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 1px 2px 1px #eee; 
	z-index: 100000000!important;
}
.sg-comments-header{
	line-height: 14px;
	height: 14px;
	padding:8px;
	text-indent: 20px;
	background: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/popup_icon_comment.png') 8px 8px no-repeat;
}
.sg-comments-hide{
	float: right;
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/popup_btn_close.png') 0 0 no-repeat;
}
.sg-comments-header.hide, .hide{
	display: none;
}
.sg-comments-content{
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 1px solid #ccc;
	height: 427px;
	width: 100%;
}
.sg-more{
	height: 42px;
	width: 100%;
	position: absolute;
	bottom: 0;
	overflow: hidden;
}
.sg-more a{
	color: inherit;
	text-decoration: none;
}
.sg-more>span{
	border: 1px solid #b8b8b8;
	position: absolute;
	right: 12px;
	top: 8px;
	padding: 3px 12px;
	cursor: pointer;
}
.sg-more>span:hover{
	border-color: #858585;
}
.sg-more>span:active{
	border-color: #b3b3b3;
	background-color: #ebebeb;
}
.sg-disable {
	border-color:#e0e0e0;
	color:#aaa;
}
.sg-nav-tabs{
	padding-left: 40px;
	background: url(chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/icon_clock.png) no-repeat left top;
	background-color: #79ade9;
}
.sg-nav-tabs>li{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #e8f0fb;
	display: inline-block;
	width: 50%;
	position: relative;
}
.sg-nav-tabs>li:first-child:after{
	content:"";
    position: absolute;
    width: 0;
    height: 16px;
    border-color: transparent;
    border-left-color: #afcef2;
    border-width: 1px;
    border-style: solid;
    top:12px;
    right:0;
}
.sg-nav-tabs .sg-active{
	color: #fff;
}
.sg-active:before{
    content:"";
    position: absolute;
    z-index: 100;
    width: 0;
    height: 0;
    border-color: transparent transparent #f5f8fc transparent;
    border-width: 10px;
    border-style: solid;
    top:22px;
    left:46%;
    z-index: 100;
}
.sg-link{
	color:#5798e2;
}
.sg-link:hover{
	color: #70abf0;
}
.sg-note .sg-rate{
	color:#5e9ce9;
	margin-left: 8px;
}
.sg-note .tb-r-sku{
	display: none;
	padding-left: 10px;
}
#sg-taobaoAssistant .tb-r-sku{
	color: #999;
}
.sg-warn .sg-rate{
	color:#f22800;
}
.sg-warn .tb-r-sku{
	display: inline;
}
.sg-nav-content{
	background-color: #f5f8fc;
	color: #333;
	border: 1px solid #c4daf2;
	height: 216px;
	overflow-y: auto;
	overflow-x:hidden; 
}
.sg-nav-content li{
	background-repeat: no-repeat;
	background-position: 12px 2px;
	padding-left: 40px;
	margin: 12px 0;
}
.sg-nav-content p{
	margin: 2px 0;
}

.sg-nav-content p>span{

}
.tb-r-date, .tb-r-sku{
	color: #aaa;
}
.sg-evaluate>span{
	margin-right: 1.5em;
}
.sg-evaluate .sg-link{
	cursor: pointer;
	margin-left: 8px;
}
.sg-evaluate .tb-r-sku{
	cursor: default;
}
.sg-serious-warn{
	margin-left: 12px;
	color: #fff;
	background-color: #f24e32;
	padding: 1px 6px;
	border-radius: .3em;
	position: relative;
	border: 1px solid #df3917;
	white-space: nowrap;
}
.sg-serious-warn:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent #f24e32 transparent transparent;
	border-width: 6px;
	border-style: solid;
	top: 2px;
	left: -11px;
}
.sg-shopStartDate{
	background-image: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/icon_clock.png');
}
.sg-quality{
	background-image: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/icon_date.png');
}
.sg-anonymity{
	background-image: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/icon_anonymity.png');
}
.sg-badComment{
	background-image: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/icon_comment.png');
}
.sg-shop-news{
	background-image: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/icon_news.png');
}
.sg-experience,.sg-falsePropaganda{
	background-image: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/icon_alert.png');
}
.sg-advise{
	background-image: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/icon_lightbulb.png');
}
.sg-shopping-news{
	background-image: url('chrome-extension://clfkmeagfkifcplkjmnhjedobcaefbjp/images/icon_experience.png');
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color:#fafafa; 
    -webkit-border-radius: 9px;
    border-radius: 9px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background-color: #d1d1d1;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
